<%= div_for commentshare do %>
	<% if commentshare.body %>

	<div class="media">
	  <div class="col-xs-3">
	  	<a>
		   <!-- put user name here to see more -->
			<% if (commentshare.user.profile).blank? %>
				<%= commentshare.user.email + ": "%>
			<% else %>
			<div class="real-comment">
				<%= image_tag commentshare.user.profile.avatar.url(:thumb)%>
				<%= commentshare.user.profile.name + ": "%>
			</div>
			<% end %>
		</a>	
	  </div>
	  <div class="col-xs-9">
	    <%= commentshare.body %>

			<!-- actions -->
		<% if current_user.present? and (current_user.id == commentshare.user_id) %>
			<span class='actions'>
				<%= link_to 'Delete', [@share, commentshare], :confirm => 'Are you sure?', :method => :delete %>
			</span>
		<% end %>
	  </div>
	</div>
	<hr>
<% end %>
<% end %>